APP_PORT=9090
DATA_DIR=/volume1/docker/fjordshare/data
TZ=Europe/Copenhagen
THUMB_SIZE_PX=480
BAMBUSTUDIO_APPIMAGE_URL=
BAMBUSTUDIO_BIN=bambu-studio
BAMBUSTUDIO_CONFIG_PATH=
BAMBUSTUDIO_PROFILE_ROOT=
BAMBUSTUDIO_TIMEOUT_SEC=1800
BAMBUSTUDIO_PRINTER_PROFILES=
BAMBUSTUDIO_PRINT_PROFILES=
BAMBUSTUDIO_FILAMENT_PROFILES=
BAMBUSTUDIO_LOAD_SETTINGS=
BAMBUSTUDIO_LOAD_FILAMENTS=
UI_VERSION_MARKER=TMP-2026-04-12-04

