APP_PORT=9090
DATA_DIR=/volume1/docker/fjordshare/data
TZ=Europe/Copenhagen
THUMB_SIZE_PX=480
BAMBUSTUDIO_APPIMAGE_URL=
BAMBUSTUDIO_BIN=bambu-studio
BAMBUSTUDIO_CONFIG_PATH=
BAMBUSTUDIO_TIMEOUT_SEC=1800

